.dm {
  /* Background colors */
  --primary-bg: 66, 28, 164; /* primary background - #421CA4 rgb(66, 28, 164) */
  --primary-bg-dark: 10, 0, 17; /* primary background dark - #0A0011 rgb(10, 0, 17) */
  --secondary-bg: 231, 226, 249; /* secondary background - #E7E2F9 rgb(231, 226, 249) */
  --primary-bg-yellow: 255, 170, 64;
  /* Chart colors */
  --chart-primary-bg: #421ca4;
  --chart-secondary-bg: #e7e2f9;
}

.dm .btn-primary {
  /* Button primary styles */
  --btn-bg-color: 66, 28, 164; /* button background color - #421CA4 rgb(66, 28, 164) */
  --btn-text-color: 255, 255, 255; /* button text color - #ffffff rgb(255, 255, 255) */
  --btn-spinner-color: 255, 255, 255; /* button spinner color - #ffffff rgb(255, 255, 255) */
  --btn-bg-hover-color: 74, 31, 183; /* button background hover color - #4A1FB7 rgb(74, 31, 183) */
  --btn-bg-active-color: 74, 31, 183; /* button background active color - #4A1FB7 rgb(74, 31, 183) */
  --btn-ring-color: 74, 31, 183; /* button ring color - #4A1FB7 rgb(74, 31, 183) */
  --btn-disabled-bg-color: 201, 201, 201; /* button disabled background color - #C9C9C9 rgb(201, 201, 201) */
  --btn-disabled-text-color: 255, 255, 255; /* button disabled text color - #ffffff rgb(255, 255, 255) */
}

.dm .btn-secondary {
  /* Button primary styles */
  --btn-bg-color: 229, 231, 235; /* button background color - #e5e7eb rgb(229, 231, 235) */
  --btn-text-color: 31, 41, 55; /* button text color - #1F2937 rgb(31, 41, 55) */
  --btn-spinner-color: 31, 41, 55; /* button spinner color - #1F2937 rgb(31, 41, 55) */
  --btn-bg-hover-color: 209, 213, 219; /* button background hover color - #d1d5db rgb(209, 213, 219) */
  --btn-bg-active-color: 209, 213, 219; /* button background active color - #d1d5db rgb(209, 213, 219) */
  --btn-ring-color: 209, 213, 219; /* button ring color - #d1d5db rgb(209, 213, 219) */
  --btn-disabled-bg-color: 201, 201, 201; /* button disabled background color - #C9C9C9 rgb(201, 201, 201) */
  --btn-disabled-text-color: 255, 255, 255; /* button disabled text color - #ffffff rgb(255, 255, 255) */
}

.dm .btn-ghost {
  /* Button ghost styles */
  --btn-bg-color: transparent; /* button background color - transparent */
  --btn-text-color: 31, 41, 55; /* button text color - #1F2937 rgb(31, 41, 55) */
  --btn-spinner-color: 31, 41, 55; /* button spinner color - #1F2937 rgb(31, 41, 55) */
  --btn-bg-hover-color: transparent; /* button background hover color - transparent */
  --btn-bg-active-color: transparent; /* button background active color - transparent */
  --btn-ring-color: 209, 213, 219; /* button ring color - #D1D5DB rgb(209, 213, 219) */
  --btn-disabled-bg-color: 201, 201, 201; /* button disabled background color - #C9C9C9 rgb(201, 201, 201) */
  --btn-disabled-text-color: 255, 255, 255; /* button disabled text color - #ffffff rgb(255, 255, 255) */
}

.dm .btn-unstyled {
  /* Button unstyled (default) styles */
  --btn-bg-color: 255, 255, 255; /* button background color - #ffffff rgb(255, 255, 255) */
  --btn-text-color: 0, 0, 0; /* button text color - #000000 rgb(0, 0, 0) */
  --btn-spinner-color: 0, 0, 0; /* button spinner color - #000000 rgb(0, 0, 0) */
  --btn-bg-hover-color: transparent; /* button background hover color - transparent */
  --btn-bg-active-color: transparent; /* button background active color - transparent */
  --btn-ring-color: transparent; /* button ring color - transparent */
  --btn-disabled-bg-color: 201, 201, 201; /* button disabled background color - #C9C9C9 rgb(201, 201, 201) */
  --btn-disabled-text-color: 255, 255, 255; /* button disabled text color - #ffffff rgb(255, 255, 255) */
}

.dm .btn-danger {
  /* Button danger styles */
  --btn-bg-color: 239, 68, 68; /* button background color - #EF4444 rgb(239, 68, 68) */
  --btn-text-color: 255, 255, 255; /* button text color - #FFFFFF rgb(255, 255, 255) */
  --btn-spinner-color: 255, 255, 255; /* button spinner color - #FFFFFF rgb(255, 255, 255) */
  --btn-bg-hover-color: 220, 38, 38; /* button background hover color - #DC2626 rgb(220, 38, 38) */
  --btn-bg-active-color: 220, 38, 38; /* button background active color - #DC2626 rgb(220, 38, 38) */
  --btn-ring-color: 220, 38, 38; /* button ring color - #DC2626 rgb(220, 38, 38) */
  --btn-disabled-bg-color: 255, 203, 203; /* button disabled background color - #FFCBCB rgb(255, 203, 203) */
  --btn-disabled-text-color: 255, 255, 255; /* button disabled text color -#ffffff rgb(255, 255, 255) */
}
